// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

// --- MODULAR CONFIG NIRI INCLUDES ---
include "./modules/startup.kdl"
include "./modules/cursor.kdl"
include "./modules/input.kdl"
include "./modules/output.kdl"
include "./modules/layout.kdl"
include "./modules/overview.kdl"
include "./modules/recent-windows.kdl"
include "./modules/rules.kdl"
include "./modules/binds.kdl"
