recent-windows {
    open-delay-ms 0

    highlight {
        active-color "#58a6ff"
        urgent-color "#f85149"
        padding 30
        corner-radius 0
    }

    previews {
        max-height 480
        max-scale 1.0
    }
}
