// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// This line starts waybar, a commonly used bar for Wayland compositors.
spawn-at-startup "awww-daemon"
spawn-at-startup "bash" "-c" "$HOME/.config/niri/random-wp.sh"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "dunst"
spawn-at-startup "waybar"

// Idle management: lock after 5min, power off monitors after 10min
spawn-at-startup "swayidle" "-w" "timeout" "300" "/usr/bin/swaylock -c 050505" "timeout" "600" "niri msg action power-off-monitors"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
